@model IEnumerable<BO.Client>

@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rechercher un client</h2>
<p>
    @Html.ActionLink("Nouveau Client", "New", "Client", null, new { @class = "btn btn-primary" })
</p>

<table id="customers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Code Postal</th>
        <th>Ville</th>
        <th>Téléphone</th>
        <th>Contrat(s)</th>
        <th>Gestion</th>
    </tr>
    </thead>
    <tbody>
</table>

@section scripts
{
    <script>
        $(document)
            .ready(function() {
                var table = $("#customers")
                    .DataTable({
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                        },
                        ajax: {
                            url: "/api/client",
                            dataSrc: ""
                        },
                        columns: [
                            {
                                data: "nomClient"
                               
                            },
                        {
                            data : "adresse"
                        },
                        {
                            data : "codePostal"
                        },
                            {
                                data: "ville" 
                            },
                            {
                                data: "telephone"
                            },
                        {
                            data: "contrats",
                            render: function(data, type, client) {
                                return "<a href='/contrat/details/" + client.id + "'>" + 'Voir contrat(s)' + "</a>"
                                +' - ' + "<a href='/centreInformatique/details/"+client.id + "'>"+ 'Voir centre(s)'+ "</a>";
                            }
                        },
                            {
                                data: "id",
                                render: function(data,type, client) {
                                    return  "<a href='/client/edit/" +
                                        client.id +
                                        "'>" +
                                        'Modifier' +
                                        "</a>" + ' -' +
                                        "<button class='btn-link js-delete'data-client-id=" +
                                        data +
                                        ">Supprimer</button>";


                                }
                            }
                        ]
                    });
                $("#customers").on("click", ".js-delete",
                       function () {
                           var button = $(this);
                           
                           bootbox.confirm("Etes-vous sûr de vouloir supprimer ce client?",
                               function (result) {
                                   if (result) {
                                       $.ajax({
                                               url: "/api/client/" + button.attr("data-client-id"),
                                               method: "DELETE",
                                               success: function() {
                                                   table.row(button.parents("tr")).remove().draw();

                                               }

                                           })
                                           .done(function() {
                                               toastr.success("Le client a été supprimé avec succés");
                                           })
                                           .fail(function() {
                                               toastr.error("Un problème est survenu");
                                           });
                                   }
                               });
                       });
            });
  </script>
}