USE [master]
GO
/****** Object:  Database [Maintinfo]    Script Date: 09/06/2016 11:10:28 ******/
CREATE DATABASE [Maintinfo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Maintinfo', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Maintinfo.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Maintinfo_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Maintinfo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Maintinfo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Maintinfo]
GO
/****** Object:  StoredProcedure [dbo].[AddClient]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[AddClient]
@idClient int out,
@nomClient varchar(40),
@adresseClient varchar(100),
@villeClient varchar(40),
@codePostal varchar(5),
@telClient varchar(12)
As
Insert into dbo.CLIENT ([NOMCLIENT],[ADRESSECLIENT],[VILLECLIENT],[CODEPOSTAL],[TELCLIENT])
values (@nomClient,@adresseClient,@villeClient,@codePostal,@telClient)
Select @idClient = SCOPE_IDENTITY()
GO
/****** Object:  StoredProcedure [dbo].[AddContrat]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AddContrat]
@idContrat int OUTPUT,
@idclient int,
@idCentre int,
@montant money,
@datedebut Datetime,
@dateecheance Datetime,
@commentaire varchar(100)=null

As
Insert dbo.CONTRAT 
(NUMCLIENT,NUMEROCENTRE,MONTANTCONTRAT,DATEDEBUT,
DATEECHEANCE,COMMENTAIRE)
values(@idclient,@idCentre,@montant,@datedebut,@dateecheance,@commentaire)
Select @idContrat = SCOPE_IDENTITY()
GO
/****** Object:  StoredProcedure [dbo].[GetAllCentre]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetAllCentre]
as
Select * From dbo.CENTRE_INFORMATIQUE
GO
/****** Object:  StoredProcedure [dbo].[GetAllClient]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetAllClient]
As
Select * From [dbo].[CLIENT]
GO
/****** Object:  StoredProcedure [dbo].[GetAllContrat]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetAllContrat]
As
Select * From dbo.CONTRAT
GO
/****** Object:  StoredProcedure [dbo].[GetAllModele]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[GetAllModele]
As
Select * from dbo.MODELE

GO
/****** Object:  StoredProcedure [dbo].[GetAllTarif]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[GetAllTarif]
as
Select * from dbo.TARIF
GO
/****** Object:  StoredProcedure [dbo].[GetContratByIdClient]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[GetContratByIdClient]
@idClient int
as
Select * From [dbo].[CONTRAT]
where [NUMCLIENT] = @idClient
GO
/****** Object:  StoredProcedure [dbo].[GetEquipementByCentre]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetEquipementByCentre]
@idCentre int
As
Select [NUMEROSERIE],dbo.[EQUIPEMENT].IDMODELE,dbo.MODELE.CODETARIF,[TARIFMODELE],[LIBELLEMODELE]
from dbo.EQUIPEMENT
join [dbo].[MODELE] on dbo.MODELE.IDMODELE = dbo.EQUIPEMENT.IDMODELE
join [dbo].[TARIF] on dbo.TARIF.CODETARIF = dbo.MODELE.CODETARIF
where dbo.EQUIPEMENT.NUMEROCENTRE = @idCentre
GO
/****** Object:  StoredProcedure [dbo].[UpdEquipement]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[UpdEquipement]
@numSerie int,
@numContrat int
as
Update dbo.EQUIPEMENT 
Set [NUMCONTRAT]=@numContrat
where NUMEROSERIE = @numSerie
GO
/****** Object:  Table [dbo].[CENTRE_INFORMATIQUE]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CENTRE_INFORMATIQUE](
	[NUMEROCENTRE] [int] IDENTITY(1,1) NOT NULL,
	[IDSECTEUR] [int] NOT NULL,
	[NUMCLIENT] [int] NOT NULL,
	[ADRESSECENTRE] [char](100) NOT NULL,
	[VILLECENTRE] [char](40) NOT NULL,
	[TELCENTRE] [char](12) NOT NULL,
 CONSTRAINT [PK_CENTRE_INFORMATIQUE] PRIMARY KEY NONCLUSTERED 
(
	[NUMEROCENTRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENT](
	[NUMCLIENT] [int] IDENTITY(1,1) NOT NULL,
	[NOMCLIENT] [char](40) NOT NULL,
	[ADRESSECLIENT] [char](100) NOT NULL,
	[VILLECLIENT] [char](40) NOT NULL,
	[CODEPOSTAL] [char](5) NOT NULL,
	[TELCLIENT] [char](12) NOT NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY NONCLUSTERED 
(
	[NUMCLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTRAT]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTRAT](
	[NUMCONTRAT] [int] IDENTITY(1,1) NOT NULL,
	[NUMCLIENT] [int] NOT NULL,
	[NUMEROCENTRE] [int] NOT NULL,
	[MONTANTCONTRAT] [money] NOT NULL,
	[DATEDEBUT] [datetime] NOT NULL,
	[DATEECHEANCE] [datetime] NOT NULL,
	[COMMENTAIRE] [varchar](100) NULL,
 CONSTRAINT [PK_CONTRAT] PRIMARY KEY NONCLUSTERED 
(
	[NUMCONTRAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EQUIPEMENT]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPEMENT](
	[NUMEROSERIE] [int] IDENTITY(1,1) NOT NULL,
	[IDMODELE] [int] NOT NULL,
	[NUMEROCENTRE] [int] NOT NULL,
	[NUMCONTRAT] [int] NULL,
 CONSTRAINT [PK_EQUIPEMENT] PRIMARY KEY NONCLUSTERED 
(
	[NUMEROSERIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MODELE]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MODELE](
	[IDMODELE] [int] IDENTITY(1,1) NOT NULL,
	[IDTYPE] [int] NOT NULL,
	[CODETARIF] [int] NOT NULL,
	[LIBELLEMODELE] [char](40) NOT NULL,
 CONSTRAINT [PK_MODELE] PRIMARY KEY NONCLUSTERED 
(
	[IDMODELE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECTEUR]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECTEUR](
	[IDSECTEUR] [int] IDENTITY(1,1) NOT NULL,
	[LIBELLESECTEUR] [char](40) NOT NULL,
 CONSTRAINT [PK_SECTEUR] PRIMARY KEY NONCLUSTERED 
(
	[IDSECTEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TARIF]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARIF](
	[CODETARIF] [int] NOT NULL,
	[DATETARIF] [datetime] NOT NULL,
	[TARIFMODELE] [money] NOT NULL,
 CONSTRAINT [PK_TARIF] PRIMARY KEY NONCLUSTERED 
(
	[CODETARIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPE_EQUIPEMENT]    Script Date: 09/06/2016 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYPE_EQUIPEMENT](
	[IDTYPE] [int] IDENTITY(1,1) NOT NULL,
	[LIBELLETYPE] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TYPE_EQUIPEMENT] PRIMARY KEY NONCLUSTERED 
(
	[IDTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [POSSEDER_FK]    Script Date: 09/06/2016 11:10:28 ******/
CREATE NONCLUSTERED INDEX [POSSEDER_FK] ON [dbo].[CENTRE_INFORMATIQUE]
(
	[NUMCLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SITUER_FK]    Script Date: 09/06/2016 11:10:28 ******/
CREATE NONCLUSTERED INDEX [SITUER_FK] ON [dbo].[CENTRE_INFORMATIQUE]
(
	[IDSECTEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CONCERNER_FK]    Script Date: 09/06/2016 11:10:28 ******/
CREATE NONCLUSTERED INDEX [CONCERNER_FK] ON [dbo].[CONTRAT]
(
	[NUMEROCENTRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SIGNER_FK]    Script Date: 09/06/2016 11:10:28 ******/
CREATE NONCLUSTERED INDEX [SIGNER_FK] ON [dbo].[CONTRAT]
(
	[NUMCLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIER_FK]    Script Date: 09/06/2016 11:10:28 ******/
CREATE NONCLUSTERED INDEX [ASSOCIER_FK] ON [dbo].[EQUIPEMENT]
(
	[IDMODELE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CONFIGURER_FK]    Script Date: 09/06/2016 11:10:28 ******/
CREATE NONCLUSTERED INDEX [CONFIGURER_FK] ON [dbo].[EQUIPEMENT]
(
	[NUMEROCENTRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EST_PRESENT_FK]    Script Date: 09/06/2016 11:10:28 ******/
CREATE NONCLUSTERED INDEX [EST_PRESENT_FK] ON [dbo].[EQUIPEMENT]
(
	[NUMCONTRAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [APPARTENIR_FK]    Script Date: 09/06/2016 11:10:28 ******/
CREATE NONCLUSTERED INDEX [APPARTENIR_FK] ON [dbo].[MODELE]
(
	[IDTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CORRESPONDRE_FK]    Script Date: 09/06/2016 11:10:28 ******/
CREATE NONCLUSTERED INDEX [CORRESPONDRE_FK] ON [dbo].[MODELE]
(
	[CODETARIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CENTRE_INFORMATIQUE]  WITH CHECK ADD  CONSTRAINT [FK_CENTRE_I_POSSEDER_CLIENT] FOREIGN KEY([NUMCLIENT])
REFERENCES [dbo].[CLIENT] ([NUMCLIENT])
GO
ALTER TABLE [dbo].[CENTRE_INFORMATIQUE] CHECK CONSTRAINT [FK_CENTRE_I_POSSEDER_CLIENT]
GO
ALTER TABLE [dbo].[CENTRE_INFORMATIQUE]  WITH CHECK ADD  CONSTRAINT [FK_CENTRE_I_SITUER_SECTEUR] FOREIGN KEY([IDSECTEUR])
REFERENCES [dbo].[SECTEUR] ([IDSECTEUR])
GO
ALTER TABLE [dbo].[CENTRE_INFORMATIQUE] CHECK CONSTRAINT [FK_CENTRE_I_SITUER_SECTEUR]
GO
ALTER TABLE [dbo].[CONTRAT]  WITH CHECK ADD  CONSTRAINT [FK_CONTRAT_CONCERNER_CENTRE_I] FOREIGN KEY([NUMEROCENTRE])
REFERENCES [dbo].[CENTRE_INFORMATIQUE] ([NUMEROCENTRE])
GO
ALTER TABLE [dbo].[CONTRAT] CHECK CONSTRAINT [FK_CONTRAT_CONCERNER_CENTRE_I]
GO
ALTER TABLE [dbo].[CONTRAT]  WITH CHECK ADD  CONSTRAINT [FK_CONTRAT_SIGNER_CLIENT] FOREIGN KEY([NUMCLIENT])
REFERENCES [dbo].[CLIENT] ([NUMCLIENT])
GO
ALTER TABLE [dbo].[CONTRAT] CHECK CONSTRAINT [FK_CONTRAT_SIGNER_CLIENT]
GO
ALTER TABLE [dbo].[EQUIPEMENT]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPEME_ASSOCIER_MODELE] FOREIGN KEY([IDMODELE])
REFERENCES [dbo].[MODELE] ([IDMODELE])
GO
ALTER TABLE [dbo].[EQUIPEMENT] CHECK CONSTRAINT [FK_EQUIPEME_ASSOCIER_MODELE]
GO
ALTER TABLE [dbo].[EQUIPEMENT]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPEME_CONFIGURE_CENTRE_I] FOREIGN KEY([NUMEROCENTRE])
REFERENCES [dbo].[CENTRE_INFORMATIQUE] ([NUMEROCENTRE])
GO
ALTER TABLE [dbo].[EQUIPEMENT] CHECK CONSTRAINT [FK_EQUIPEME_CONFIGURE_CENTRE_I]
GO
ALTER TABLE [dbo].[EQUIPEMENT]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPEME_EST_PRESE_CONTRAT] FOREIGN KEY([NUMCONTRAT])
REFERENCES [dbo].[CONTRAT] ([NUMCONTRAT])
GO
ALTER TABLE [dbo].[EQUIPEMENT] CHECK CONSTRAINT [FK_EQUIPEME_EST_PRESE_CONTRAT]
GO
ALTER TABLE [dbo].[MODELE]  WITH CHECK ADD  CONSTRAINT [FK_MODELE_APPARTENI_TYPE_EQU] FOREIGN KEY([IDTYPE])
REFERENCES [dbo].[TYPE_EQUIPEMENT] ([IDTYPE])
GO
ALTER TABLE [dbo].[MODELE] CHECK CONSTRAINT [FK_MODELE_APPARTENI_TYPE_EQU]
GO
ALTER TABLE [dbo].[MODELE]  WITH CHECK ADD  CONSTRAINT [FK_MODELE_CORRESPON_TARIF] FOREIGN KEY([CODETARIF])
REFERENCES [dbo].[TARIF] ([CODETARIF])
GO
ALTER TABLE [dbo].[MODELE] CHECK CONSTRAINT [FK_MODELE_CORRESPON_TARIF]
GO
USE [master]
GO
