@model EntityDal.Tarif
@{
    ViewBag.Title = "Tarifform";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tarifform</h2>

@using (Html.BeginForm("Save", "Tarif"))
{
    @*<div class="form-group">
        @Html.TextBoxFor(m=> m.)

    </div>*@
}

