@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
    <abbr title="Telephone">Tel:</abbr>
   06-71-42-71-88
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lucas.girard05@orange.fr">lucas.girard05@orange.fr</a><br />
    <strong>Conception:</strong> <a href="mailto:lucas.girard05@orange.fr">lucas.girard05@orange.fr</a>
</address>