@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Instructions</h2>
    <p class="lead">Listes des instructions : </p>
    <ul>
        <li>L'application est optimisée pour Chrome mais fonctionne également avec les autres navigateurs</li>
        <li>L'application est réalisée en mode intranet (authentification windows)</li>
        <li>L'application fonctionne avec Entity Framework codeFirst Migrations</li>
        <li>L'IHM winform ne fonctionne plus suite au passage a entity</li>
        <li>Attention de bien utiliser la base de données fournie et ne jamais toucher au dossier "Migrations"</li>
        <li>Le pattern repository a été utilisé et est appelé via un unitOfWork</li>
        <li>Les managers gèrent toutes les opérations et l'accés aux données</li>
        <li>Le gestionnaire gère tous les managers</li>
        <li>De nombreux packages ont été utilisés, voir le dossier "packages"</li>
        <li>Les tests unitaires ont été réalisés au début et ne sont plus valables(BLL)</li>
    </ul>
</div>

